/* Sabrina Haque */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: antiquewhite;
    text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: 60px;
    color: plum;
    font-weight: 600;
    padding-bottom: 20px;
}
main{
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}
form{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}
input , 
textarea{
    display: block;
    margin: 20px;
    width: 100%;
    color: grey;
    
}
input, 
textarea{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid palevioletred;
}
button{
    background-color: palevioletred;
    padding: 15px 0;
    color: rgb(71, 69, 69);
    font-size: 15px;
    border-bottom: none;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    background: plum;
    color: rgb(71, 69, 69);
}
input,
textarea{
    color: rgb(26, 24, 24);
    font-size: 18px;
    padding: 10px;
}
input:focus,
textarea:focus{
    outline: 1px solid plum;
}